
/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #236457;
    background-color: #dcf2ed;
    border-color: #cdede6;
}

.alert-primary hr {
    border-top-color: #bae6dd;
}

.alert-primary .alert-link {
    color: #163f36;
}

.badge-primary {
    color: #212529;
    background-color: #46bda4;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #212529;
    background-color: #369984;
}

.bg-primary {
    background-color: #46bda4 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #369984 !important;
}

.border-primary {
    border-color: #46bda4 !important;
}

.btn-primary {
    color: #212529;
    background-color: #46bda4;
    border-color: #46bda4;
}

.btn-primary:hover {
    color: #212529;
    background-color: #3aa48e;
    border-color: #369984;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(70, 189, 164, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #212529;
    background-color: #46bda4;
    border-color: #46bda4;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #369984;
    border-color: #328e7a;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(70, 189, 164, 0.5);
}

.btn-outline-primary {
    color: #46bda4;
    background-color: transparent;
    border-color: #46bda4;
}

.btn-outline-primary:hover {
    color: #212529;
    background-color: #46bda4;
    border-color: #46bda4;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(70, 189, 164, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #46bda4;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #46bda4;
    border-color: #46bda4;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(70, 189, 164, 0.5);
}

.list-group-item-primary {
    color: #236457;
    background-color: #cdede6;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #236457;
    background-color: #bae6dd;
}

.list-group-item-primary.list-group-item-action.active {
    color: #212529;
    background-color: #236457;
    border-color: #236457;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #cdede6;
}

.table-hover .table-primary:hover {
    background-color: #bae6dd;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #bae6dd;
}

.text-primary {
    color: #46bda4 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #369984 !important;
}
